DEBUG=True
SECRET_KEY=django-insecure-&7%4kf)e75hr-!_q6(5+^o-#&^lu$nz)%#hdmn6)%68!&17mr%
ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000,http://127.0.0.1:8000

NAME=postgres
PGUSER=postgres
PASSWORD=0986
HOST=db
PORT=5432

SMS_LOGIN='efflife1'
SMS_PASSWORD='d2Qh77cPS'

API_KEY='hellow_washes'
TELEGRAM_TOKEN=''

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0986
